        .item {
            margin: 1rem 0;
            background-color: #f6fdfe;
            padding: 1rem;
            border-radius: 5px;
            width: 100%
        }
        
        @media(max-width:560px) {
            .item {
                position: relative;
                /* right: 0.9rem */
            }
        }
        
        @media(max-width:400px) {
            .item {
                position: relative;
                right: 0.9rem
            }
        }
        
        .item h3 {
            margin: 0 0 0.5rem 0;
            font-size: 1.30rem;
        }
        
        .item header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        
        .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .quantity span {
            font-size: 1.5rem;
            font-weight: bold;
        }
        
        .price {
            display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            align-items: center;
            gap: 0.5rem;
            position: relative;
            top: 1.2rem;
        }
        
        .price h4 {
            color: rgb(0, 89, 107);
            font-weight: 900!important;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .itemprice {
            font-weight: normal;
            font-size: 1rem;
            font-style: italic;
        }
        
        .actions {
            display: flex;
            justify-content: flex-end;
            margin: 0.5rem 0;
            align-items: flex-end;
        }
        
        .actions button {
            background-color: transparent;
            border: 1.4px solid rgb(38, 38, 38);
            margin-left: 0.5rem;
            padding: 0.15rem 1rem;
            color: rgb(37, 36, 36);
        }
        
        .actions button:hover,
        .actions button:active {
            background-color: #4b4b4b;
            color: white;
        }
        
        @media(max-width:560px) {
            .item h3 {
                margin: 0 0 0.5rem 0;
                font-size: 15px;
            }
            .price {
                font-size: 20px;
                font-weight: bold;
                align-items: center;
                gap: 0.5rem;
                flex-direction: column;
            }
            .CartImg {
                width: 45%!important;
            }
            .itemIMGPrice {
                gap: 0.5rem!important;
                align-items: center!important;
            }
            .price h4 {
                position: relative;
                left: 1.2rem
            }
        }
        
        .cartHeader {
            position: relative;
            bottom: 2rem;
        }
        
        .CartImg {
            width: 20%;
        }
        
        .itemIMGPrice {
            display: flex;
            align-items: flex-end;
            gap: 1rem;
        }
        
        .stockBadge {
            position: relative;
            bottom: 0.5rem;
            right: 0.7rem;
            font-weight: 700;
            color: rgb(255, 255, 255);
            background-color: rgb(56, 163, 56);
            /* background-color: green; */
            padding: 0.5rem;
            border-radius: 42px;
            font-size: 10px;
            /* margin-left: 1rem; */
        }
        
        @media(max-width:560px) {
            .stockBadge {
                /* right: 1rem; */
                /* top: 1em; */
                font-size: 8px;
                padding: 0.4rem;
            }
        }