.menu li a {
    margin-left: 0px;
    position: relative;
    left: 0;
    color: black!important;
}

.menulist {
    align-items: flex-start!important;
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    width: 100% !important;
}

.menulist li {
    width: 100%;
    position: relative;
}

.menulist button {
    padding-left: 0px!important;
}


/* .menu {
    margin-right: 3rem !important;
} */