.FilterSec label {
    font-weight: 700;
}

.FilterSec {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.dropdown {
    width: 200px;
    margin: 0 auto;
    position: relative;
    user-select: none;
}

.dropdown .dropDownBtn {
    padding: 5px 20px;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.dropdown .dropDown-Content {
    position: absolute;
    top: 85%;
    padding: 13px 10px!important;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    font-weight: 500;
    color: black;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.dropdown .dropDown-Content .dropDown-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown .dropDown-Content .dropDown-item:hover {
    background-color: #dfdfdf;
    transition: all 0.3s;
}

@media (max-width:900px) {
    .dropdown {
        padding-top: 1.2rem;
    }
}