.SearchActions {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3.2rem;
    margin-bottom: 0.1rem;
}

@media(max-width:500px) {
    .SearchActions {
        margin-top: 1rem;
        gap: 2rem;
        padding: 0px 1rem;
    }
}