                            .loginForm {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 1.5rem;
                                margin-top: 1rem;
                                padding-top: 1rem;
                                /* width: 50%; */
                            }
                            
                            @media(max-width:860px) {
                                .loginForm {
                                    gap: 1rem;
                                    margin-top: 2rem;
                                }
                                .loginForm label {
                                    margin: 0px 0.2rem;
                                    display: block;
                                }
                            }
                            
                            @media(max-width:560px) {
                                .loginForm input {
                                    width: 20rem!important;
                                }
                            }
                            
                            .loginForm label {
                                display: block;
                            }
                            
                            .loginForm .formInput {
                                padding: 0.3rem;
                                border-radius: 5px;
                                width: 20rem;
                                outline-color: rgb(53, 161, 255);
                                border: 2px solid rgb(53, 161, 255);
                                position: relative;
                                top: 0.4rem;
                                display: flex;
                                align-items: center;
                                background-color: white;
                            }
                            
                            .loginForm input {
                                padding: 0.35rem;
                                border-radius: 5px;
                                width: 20rem;
                                outline-color: rgb(53, 161, 255);
                                border: 2px solid rgb(53, 161, 255);
                                border-style: none;
                                outline: none;
                                font-size: 0.9rem;
                            }
                            
                            .actions {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 2rem;
                                /* width: 50%; */
                            }
                            
                            .overralLoginForm {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                background-color: rgb(242, 250, 255);
                                /* background-color: rgb(216, 241, 255); */
                                width: 100%;
                                height: 26rem;
                                border: 5px rgb(0, 194, 233) dashed;
                                border-radius: 10px;
                                /* color: aliceblue; */
                                padding-bottom: 1rem;
                            }
                            
                            .creatAcc {
                                text-align: center;
                            }