@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    /* background-color: rgb(1, 94, 113); */
    background-color: aliceblue;
    /* line-height: 0%; */
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 15rem;
}

button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: transparent;
    color: #1a8ed1;
    border: 1px solid #1a8ed1;
}

button:hover,
button:active {
    background-color: #164eae;
    border-color: #164eae;
    color: white;
}

@media(max-width:400px) {
    body {
        width: 100%;
    }
}