.myButton:hover {
    background-color: rgb(0, 0, 213)!important;
    transition: 0.3s;
}

.myButton {
    transition: 0.3s;
    font: inherit;
    cursor: pointer;
    padding: 0.7rem 1.4rem;
    border-radius: 6px;
    border-style: none;
    position: relative;
    outline: none;
}

.myButton:disabled,
.myButton:disabled:hover {
    background-color: #b0b0b0!important;
    color: #5f5f5f !important;
    cursor: not-allowed;
    /* border: 1px solid #ccc; */
}